[submodule ".registry"]
	path = .registry
	url = https://github.com/sunnyhq-shi/sunnyhq-shi.r-universe.dev
	branch = HEAD
[submodule "wishartinference"]
	path = wishartinference
	url = https://github.com/sunnyhq-shi/wishart-rejection-sampling
